#dashboard {
  overflow: hidden;
  height: 100%; 
  width: 100%;
}

#dashboard .selection-box {
  position: absolute;
  border: 2px dashed gray;
}

#dashboard .demo-message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0.1;
  font-size: 30px;
  font-weight: 600;
}
