.details {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 5px gray;
  width: 300px;
  height: 600px;
  top: 0;
  bottom: 0;
  right: 50px;
  margin: auto 0 auto 0;
  padding: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.details-form-control {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.details-btn {
  color: #408ab8;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: none;
  cursor: pointer;
  transform: translateZ(0);
}

.details-btn:hover {
  transform: scale(1.03);
}

#details-undo-btn {
  font-size: 20px;
  position: absolute;
  left: 15px;
}

#notes {
  border: none;
  resize: none;
  width: 100%;
  font-family: inherit;
  flex-grow: 1;
  padding: 5px;
}

.details h2 {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.2em;
  color: rgb(111, 111, 111);
  text-transform: uppercase;
}

.details-groups {
  font-size: 14px;
  color: rgb(34, 34, 34);
  font-weight: 300;
  margin-top: 2px;
  text-align: center;
  margin-bottom: 0;
}

.details-button-row {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 5px lightgray;
  margin: 20px 0;
}

.details-button-row-btn {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: center;
  display: flex;
}

.details-button-row-btn:hover, 
.details-button-row-btn:active,
.details-button-row-btn:focus {
  border: 1px solid lightgray;
}

.details-button-row-btn:hover {
  background: rgb(235, 235, 235);
  cursor: pointer;
}

.details-button-row-btn .color-picker,
.details-button-row-btn .color-picker-selector {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
}

.details-button-row i {
  font-size: 23px;
}

.details-node-icon-header {
  text-align: center;
  padding: 20px;
}

.details-node-icon {
  font-size: 50px;
}

.details-node-icon:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.details-node-header {
  position: relative;
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
}

.details-node-header .edit-icon-btn {
  position: absolute;
  top: 10px;
  opacity: 0.8;
}

.details-node-header .edit-icon-btn:hover {
  opacity: 1.0;
  cursor: pointer;
}

.details-node-header .name-input {
  font-size: inherit;
  max-width: 100%;
  border: none;
  outline: none;
  text-align: center;
}

.details-notes {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.details-notes .edit-icon-btn {
  position: absolute;
  top: 17px;
  opacity: 0.8;
}

.details-notes .edit-icon-btn:hover {
  opacity: 1.0;
  cursor: pointer;
}

.details-button-row .size-slider-wrapper {
  background: white;
  position: absolute;
  width: 100%;
  top: 40px;
  box-shadow: 0 2px 5px gray;
  padding: 10px;
  z-index: 6;
}

.details-button-row .size-slider-label {
  color: rgb(120, 120, 120);
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
}

.details-link-header {
  position: relative;
  font-size: 23px;
  margin-top: 25px;
  margin-bottom: 5px;
  text-align: center;
}

.details-link-header-link-icon {
  position: relative;
  margin: 5px auto;
  height: 40px;
  width: 5px;
  background: lightgray;
}

.details-link-header-node {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-link-header-node-icon {
  font-size: 17px;
  margin-right: 5px;
}
